.terraform
*.tfstate
*.tfstate.backup
*.iso
*.qcow2
.idea
.venv
*.venv
*.packer_cache
/venv/
/packer/packer_cache/
/kvm/.terraform/
/packer/packer_cache/*
/packer/centOsKvm/output-qemu/
/packer/centOsKvm/packer_cache/
/packer/fedoraCoreOsKvm/packer_cache/
