# https://access.redhat.com/documentation/en-us/red_hat_enterprise_linux/8/html/performing_an_advanced_rhel_installation/kickstart-commands-and-options-reference_installing-rhel-as-an-experienced-user

# Set the authentication options for the system
auth --passalgo=sha512 --useshadow
# Install OS instead of upgrade
install
# License agreement
eula --agreed
# Use network installation
url --url="http://mirror.centos.org/centos/8/BaseOS/x86_64/os/"
repo --name="AppStream" --baseurl=http://mirror.centos.org/centos/8/BaseOS/x86_64/os/../../../AppStream/x86_64/os/
# Use text mode install
text
# Disable Initial Setup on first boot
firstboot --disable
# Keyboard layout
keyboard --vckeymap=us --xlayouts='us'
# System language
lang en_US.UTF-8
# Network information
network --bootproto=dhcp --device=link --activate
network --hostname=centos8.localdomain
# Root password
rootpw $1$+xLTvuVv$vAMwt4RuJqO3qp9nLQj1U0 --iscrypted
# SELinux configuration
selinux --enforcing
# Do not configure the X Window System
skipx

# System services
services --enabled="chronyd"
# System timezone
timezone Europe/Moscow --isUtc --ntpservers=0.centos.pool.ntp.org,1.centos.pool.ntp.org,2.centos.pool.ntp.org,3.centos.pool.ntp.org
# Add a user named packer
user --groups=wheel --name=packer --password=$6$aAtWe.5cBBgrjyZL$GVl/UDTY0csGL1dsf1Sv2mSqMaDn3iqeapzf8sS7Yt9H58al02FJsBgrqWm3JnI3ChUsyEZSMbS9OXzbKNdjA. --iscrypted --gecos="packer"
user --groups=wheel --name=kyuriev --password=$6$uUBP28HaYhAgnBIH$MDjCNPxWpT3xUIo1GMnj3aooKMkg7U142H.QYwRXSV6W0PyOh8Xr4skIc5faP8P.KEXX/S.81DNSnp2QpGE9Q1 --iscrypted --gecos="kyuriev"
user --groups=wheel --name=kor --password=$6$hzEt1xyOe76w.Ky1$fybkyL.phSvd1.MMAkryvHThYSSvH1tJC9gD6Ej499r8SFLZowwTVeyIN3va1yQfw3GbFKfJS9FN7Vbac9gzb1 --iscrypted --gecos="kor"
# Add ssh user key
sshkey --username=kyuriev "ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAACAQDfqBKiG1KlIrqDR6joUQutGbIpvlgqgqmbT8eykOPrYBg+VWtnwUpon5/+ueRI0gHrJZtGvWw0b5WituOZ6I15wJSAwhx/q4bcUdN4KQGg0uSKcLmwPIyKeEnDgMbsZfiRgLhbiTjl0J+KJM8pve8McXplxIscRE57t/W1G7uOiK+9OEgXwcsFaNb6ayqspJQ6bMmrKcNR1jRjrkz3Z48Qrs8XCrF/PT5rfX7FlQbuGBC4CxeohPZPH3BNyasD3uA3l7MlegGDSgPP1AtX4erQziXpBV0o3AzhEnjCudxP2GwlO15vdSyjbqYmaYXceEATZt/SWJpiagK0pLWci17FPihXywOqg1BdB9hnYbBPtlYSIPGlXBZPztpwNdaN9NcdsJtBiKjOnZfUjdXi2lRHISJ2teOF5g1G9YUYyuOZdmKW3KTnMJ+DQfLtSCZwDzm/7KGncr57LZlW4uhxk5xV9DE1mSmdJczQvbOXI6M03w+GgmtS5YzBiJxp3qJLCR1h45+UHLJLtgUDDvIDJRrU7RgYkq4+JxPbn+leSD30Mnac6wnheXsV9CjFvUpnOVgmf9pZLmCvdFxltk4fTCuPW8eDctwG4WWo2AmErqn/jRR5EGceZDmPHVB8Yt0TdjZNvQ3RZIsgNLA8GP8gV/IOSmdUy8Tv+S+jP6gVgxkwjw== kyuriev@localhost.localdomain"
sshkey --username=kor "ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABgQC2EI9hrbEC53Blu/aQmoSkWcbQcM96IJjm1Y7+JG9q+bfpDwWtW70Wi15OBpgxORMvfUd3ulEpOWilsW/zapXvJStP8C24wMG6GgISI+Sa9jU6L6lYcDlF9ls4UfgiDWtJBXniPhXzzRjQTBzcwIpQG3mAqc/J/ad0ypoLVxI2LO5/V83Iz0l/OmyIZSW1zMXLy3+6P+xbDaotExt26Td+fmYZb8N5wOGAjNmTlMN2lG1tlaKfiTS+6480pgTeeTFy5PJWVL+h8/EA7vR1IQnl4fcG6TYA7ZXNlldbuAYVw22bi2OoyFPPsqmtkBBreRoO81oycXcm+irCTwANQooHd6uZRfkomrgGAAhvupUkEZ/3JAVXmAkBuPEykrrtk37ngc3YiEDluY2hvJRwUwtz7WPBzJ/MWVVzvuhYDMXHZGycNM5CA50h5Sc6brWkJZzffylyUIScLQSAIeQEApCdDqYOBUvnjGZ/sDNhGq/t8RyPoNojgVWpZKO88zt6+eU= kor@vu173"

# System bootloader configuration
bootloader --location=mbr --append="crashkernel=auto"
# Clear the Master Boot Record
zerombr
# Remove partitions
clearpart --all --initlabel
# Automatically create partitions using LVM
autopart --type=lvm
# Reboot after successful installation
reboot

%packages --ignoremissing --ignoremissing
cloud-init
setroubleshoot
wget
python3-libsemanage
tar
curl
rsync
# dnf group info minimal-environment
@^minimal-environment
# Exclude unnecessary firmwares
-iwl*firmware
%end

%post --nochroot --logfile=/mnt/sysimage/root/ks-post.log
# Disable quiet boot and splash screen
sed --follow-symlinks -i "s/ rhgb quiet//" /mnt/sysimage/etc/default/grub
sed --follow-symlinks -i "s/ rhgb quiet//" /mnt/sysimage/boot/grub2/grubenv

# Passwordless sudo for the user 'packer'
# echo "packer ALL=(ALL) NOPASSWD: ALL" >> /mnt/sysimage/etc/sudoers.d/packer
echo "packer ALL=(ALL) NOPASSWD: ALL" >> /mnt/sysimage/etc/sudoers.d/packer
echo "kor ALL=(ALL) NOPASSWD: ALL" >> /mnt/sysimage/etc/sudoers.d/kor
%end